alpaca-py==0.43.5
dotenv==0.9.9
lxml==6.1.1
numpy==2.5.1
pandas==3.0.3
pydantic==2.13.4
python-dotenv==1.2.2
PyYAML==6.0.3
langchain==1.3.11
langchain_openai==1.3.3
tavily==1.1.0
langgraph_checkpoint_sqlite==3.1.0
pytest==9.1.1
langchain_tavily